<p class="post-date text-bold">
  {% if page.author %}
    <span class="text-upcase">{{ page.author }}</span>
    {% if page.date %}
     / 
    {% endif %}
  {% endif %}
  {% if page.date %}
    <span class="text-upcase">{{ page.date | date: "%B %Y"}}</span>
  {% endif %}

  {% capture words %}
  {{ content | number_of_words | minus: 180 }}
  {% endcapture %}
  {% unless words contains '-' %}
  {{ words | strip | prepend: '(' | append: ' Words, ' }}
  {{ words | plus: 180 | divided_by: 180 | append: ' Minutes)' }}
  {% endunless %}
</p>

<div class="">
  {% for tag in page.tags %}
  <a href="{{ "/tags" | relative_url }}#{{ tag | slugify }}" class="tag">{{ tag }}</a>
  {% endfor %}
</div>
